<!DOCTYPE html>
<html lang="en" xmlns:th="htttp://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:title="${title}">Make the Sith Great Again</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<nav th:fragment="navigation">
    <a href="/tweet/approval">Approve tweets</a> |
    <a href="/tweet/edit">Edit tweets</a> |
    <a href="/tweet">View tweets</a>

</nav>

</body>
</html>